*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #cecece;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 80%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

ul{
  list-style: none;
}

ul#list{
  display: flex;
  flex-wrap: wrap;
}

ul#list > li{
  width: calc(100% / 3);
  padding: 20px;
}

li{
  text-align: center;
}

li.image{
  /* width: 100%; */
}

li.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}